<!DOCTYPE html>

<html lang="en">
	<head>

		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>ACE - Dilapidation Reporting</title>
		{% load staticfiles %}

		<link rel="stylesheet" href="{% static 'dilapjobs/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'dilapjobs/css/bootstrap-theme.min.css' %}" />
		<link rel="stylesheet" href="{% static 'dilapjobs/css/signin.css' %}" />
		<link rel="stylesheet" href="{% static 'dilapjobs/css/bootstrap.min.css' %}" />
		<link rel="stylesheet" href="{% static 'dilapjobs/css/bootstrap-theme.css' %}" />
		<link rel="stylesheet" href="{% static 'dilapjobs/css/navbar.css' %}" />


	</head>
	<!-- end header -->	
	<body style="background-color: white">
		<div style="float: right; margin-top: -35px; margin-right: 10px">
			<form class="form-inline" method="POST">
	            {% csrf_token %}
				Logged in as: <b>{{ user.first_name }}</b>.  
				<input type="submit" name="logout" class="btn" style="float:right; background-color: white; color: blue; margin-top: -7px" value="Logout">
			</form>
		</div>
		<div class="area"></div><nav class="main-menu">
			<ul>
                <li>
                   <i class="fa fa-info fa-2x"></i>
                    <span class="nav-text">
                        <form class="form-inline" method="POST">
                        	{% csrf_token %}
                        	<input type="text" class="form-control" style="width: 150px" name="logtext">
                        	<input type="submit" class="btn btn-default" style="" name="add_log" value="+">
                        </form>
                    </span>
                </li>
            </ul>
            
	        {% for l in logs %}
	            <ul>
	            	<li>
	            		<a>
	            			<i class="fa" style="font-size: 12px">{{ l.timestamp|date:"d M Y" }}</i>
	            			<span class="nav-text">{{ l.logtext }}</span>
	            		</a>
	        		</li>
	       		</ul>
	       	{% endfor %}
        </nav>

		<div class="container" style="background-color: rgba(255,255,255,0.8)">
			<center style="padding-top: 0px">
				<img src="https://media.licdn.com/mpr/mpr/shrink_100_100/AAEAAQAAAAAAAALuAAAAJGY3M2Y5OTk4LTZlMDYtNDFjMy05NTJmLTQwNmYzNWQyM2I3MQ.png">
				<p style="font-size: 20px"><b>A</b>ustralian <b>C</b>onsulting <b>E</b>ngineers</p>
			</center>
			<center style="padding-bottom: 15px">Dilapidation Department</center>
			<form class="form-inline" method="POST" style="padding-bottom: 20px">
				{% csrf_token %}
		        <input type="text" name="search_val" class="form-control" style="width:93%" placeholder="Search for anything..." autofocus>
		        <input type="submit" name="search_btn" class="btn" style="float:right; background-color: black; color: white" value="Search">
		    </form>
			<button class="btn btn-info" style="width: 100%" data-toggle="collapse" data-target="#createjobformdiv">Create Job &#9660;</button>
			<div class="span4 collapse" id="createjobformdiv">
				<form class="form-inline" style="padding-bottom: 20px" method="POST">     
					{% csrf_token %}   
			      	<input type="text" name="jobnumber" style="width: 100%"class="form-control" placeholder="######" required autofocus>
			      	<input type="text" name="client" style="width: 100%" class="form-control" placeholder="Customer Name" required autofocus>
			        <input type="text" name="address" style="width: 100%" class="form-control" placeholder="Address" required>
					<input type="text" name="councilassets[]" style="width: 90%" class="form-control" placeholder="Enter Council Asset">
					<button type="button" class="btn btn-success" style="float:right" onclick="addC('fooBar_c')">Add More</button>
					<span id="fooBar_c">&nbsp;</span>
			       	<input type="text" name="neighbours[]" style="width: 30%" class="form-control" placeholder="Enter Neighbouring Property">
			       	
			       	<input type="text" name="letters[]" style="width: 14%" class="form-control datepicker" value="none">
					<select name="letters[]">
					   	<option value=""></option>
					   	<option value="RM">RM</option>
						<option value="AP">AP</option>
						<option value="HD">HD</option>
						<option value="STR">STR</option>
						<option value="EMA">EMA</option>
					</select>
			       	<input type="text" name="letters[]" style="width: 14%" class="form-control datepicker" value="none">
					<select name="letters[]">
					   	<option value=""></option>
					   	<option value="RM">RM</option>
						<option value="AP">AP</option>
						<option value="HD">HD</option>	
						<option value="STR">STR</option>
						<option value="EMA">EMA</option>						
					</select>
			       	<input type="text" name="letters[]" style="width: 14%" class="form-control datepicker" value="none">
					<select name="letters[]">
						<option value=""></option>
					   	<option value="RM">RM</option>
						<option value="AP">AP</option>
						<option value="HD">HD</option>
						<option value="STR">STR</option>
						<option value="EMA">EMA</option>							
					</select>
			       	<button type="button" class="btn btn-success" style="float:right" onclick="add('fooBar')">Add More</button>
					<span id="fooBar">&nbsp;</span>
			       	<input type="text" name="notes" style="width: 100%" class="form-control" placeholder="Some notes on the job...">
			       	<input type="submit" name="createjob" style="width: 100%" class="btn btn-primary" value="Add Job">
			    </form>
		    </div>
			{% if search %}
			<div style="padding-top: 20px">
				<b>Search results for '{{ search }}'...</b>
			</div>
			{% endif %}
			<table class="table" style="table-layout: fixed; margin: 0; padding-top: 20px">
			    <col width="9" />
			    <col width="22" />
			    <col width="22" />
			    <col width="44" />
			    <thead>
					<tr>
						<th>Job</th>
						<th>Customer</th>
						<th>Address</th>
						<th>Notes</th>
					</tr>
			    </thead>
		    </table>
<!-- this part needs to be repeatable -->
			{% for j in jobs %}
			<table class="table" style="table-layout:fixed; margin: 0">
			    <col width="9" />
			    <col width="22" />
			    <col width="22" />
			    <col width="44" />
			    {% if j.status == "Complete" %}
					<tr data-toggle="collapse" data-target="#viewdetails{{j.jobnumber}}" style="background-color: #90EE90">
				{% else %}
					<tr data-toggle="collapse" data-target="#viewdetails{{j.jobnumber}}">
				{% endif %}
			        <td>
			        <form method="POST" style="form-inline">
			        	{% csrf_token %}        
						<div class="dropdown">
  							<button class="btn dropdown-toggle" style="background-color: Transparent; padding: 0; margin: 0" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
    						<span class="caret"></span>
  							<b>{{ j.jobnumber }}</b></button>
						  	<ul class="dropdown-menu" style="min-width: 0" aria-labelledby="dropdownMenu1">
						  		<input type="hidden" name="change" class="form-control" value="{{ j.jobnumber }}">
							    
							    <li><a><input type="button" id="{{ j.jobnumber }}" data-toggle="modal" data-target="#editModal" data-letters="{{ j.letters }}" data-councilassets="{{ j.councilassets }}" data-neighbours="{{ j.neighbours }}" data-notes="{{ j.notes }}" data-address="{{ j.address }}" data-client="{{ j.client }}" data-job="{{ j.jobnumber }}" class="btn" style="width: 100; background-color: Transparent; font-size: 11px; padding: 0; margin: 0" name="edit_job" value="Edit" onclick="fillup('{{ j.jobnumber }}')"></a></li>
							    
							    <li><a><input type="submit" class="btn" style="width: 100; background-color: Transparent; font-size: 11px; padding: 0; margin: 0" name="delete_job" value="Delete"></a></li>
								
								{% if j.status == "Complete" %}
									<li><a><input type="submit" class="btn" style="width: 100; background-color: Transparent; font-size: 11px; padding: 0; margin: 0" name="complete_job" value="Revoke Completion"></a></li>
						  		{% else %}
									<li><a><input type="submit" class="btn" style="width: 100; background-color: Transparent; font-size: 11px; padding: 0; margin: 0" name="complete_job" value="Complete"></a></li>
								{% endif %}
						  	</ul>
						</div>	
					</form>
			        </td>
			        <td>{{j.client}}</td>
			        <td>
			        	{% if j.latitude %}
			        		<a target="_blank" href="http://maps.googleapis.com/maps/api/staticmap?center={{ j.latitude }},{{ j.longitude }}&size=600x600&zoom=18&sensor=false&maptype=satellite">{{j.address}} {{j.postcode}}</a>
			        	{% else %}
			        		{{ j.address }}
			        	{% endif %}
			        </td>
			        <td>{{j.notes}}</td> 
			    </tr>
		    </table>

		    <div class="container">
			    <div class="span4 collapse-group">
			        <div class="collapse" style="margin:0" id="viewdetails{{j.jobnumber}}">
			        	<table class="table" id="tableX">
				        	<col width="33" />
				    		<col width="33" />
				    		<col width="33" />
				    		{% if j.status == "Complete" %}
								<p><span style="float:left"><i>Completed on {{j.timestamp}}</i></span></p>
							{% else %}
								<p><span style="float:left"><i>Last Modified on {{j.timestamp}}</i></span></p>
							{% endif %}
							<thead>
								<th>Council Assets</th>
								<th>Neighbouring Properties</th>
								<th>Letters</th>
							</thead>
			        		<tr>
						        <td>{% for c in j.getCouncilAssets %}<div>{{c|safe}}</div>{% endfor %}</td>
							    <td>{% for n in j.getNeighbours %}<div style="background-color: {% cycle 'lightblue' 'white' %} ">{{n|safe}}</div>{% endfor %}</td>
								<td>{% for l in j.getLetters %}<div style="background-color: {% cycle 'lightblue' 'white' %} ">{{l}}</div>{% endfor %}</td>
							</tr>
						</table>
			    	</div>
			    </div>
		    </div>
		    {% endfor %}
<!-- end repeatable part -->

		</div> <!-- /container -->
	</body>
	<div id="editModal" class="modal fade" role="dialog">
	    <div class="modal-dialog">
	        <!-- Modal content-->
	        <div class="modal-content">
	            <div class="modal-header">
	                <button type="button" class="close" data-dismiss="modal">&times;</button>
	                <h4 class="modal-title">Edit</h4>
	            </div>
	            <div class="modal-body">
	                <form role="editjob" method="POST" style="padding-bottom: 20px">
	                    <div>
				            <form class="form-inline" style="padding-bottom: 20px" method="POST">     
								{% csrf_token %}
								<input type="hidden" name="old_jobnumber_e">
						      	<div>
						      	Job Number: <input type="text" name="jobnumber_e" style="width: 100%"class="form-control" placeholder="######" required>
						      	</div>
						      	<div>
						      	Client: <input type="text" name="client_e" style="width: 100%" class="form-control" placeholder="Customer Name" required>
						        </div>
						        <div>
						        Address: <input type="text" name="address_e" style="width: 100%" class="form-control" placeholder="Address" required>
								</div>
								<div>
									Council Assets:
									<span id="fooBar_ce">&nbsp;</span>
									<button type="button" class="btn btn-success" style="width:100%; float:right" onclick="addC('fooBar_ce')">Add CA</button>
								</div>
								<div>
									Neighbours:
									<span id="fooBar_e">&nbsp;</span>
								</div>
						       	<button type="button" class="btn btn-success" style="width: 100%" onclick="add('fooBar_e')">Add NP</button>
						       	<div>
						       		Notes: <input type="text" name="notes_e" style="width: 100%" class="form-control" placeholder="Some notes on the job...">
	                        		<input type="submit" style="width:100%; height:10%;" name="finishedit" value="Finish Editing" class="btn btn-primary">
	                        	</div>
						    </form>
	                    </div>
	                </form>
	            </div>
	            <div class="modal-footer">
	            	<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
	            </div>
	        </div>
	    </div>
    </div>
	<script>
		$('.row .btn').on('click', function(e) {
	    e.preventDefault();
	    var $this = $(this);
	    var $collapse = $this.closest('.collapse-group').find('.collapse');
	    $collapse.collapse('toggle');
		});
		
		$("tableX").each(function() {
	        var $this = $(this);
	        var newrows = [];

	        $this.find("tr").each(function(){
	            var i = 0;

	            $(this).find("td").each(function(){
	                i++;
	                if(newrows[i] === undefined) { newrows[i] = $(""); }
	                newrows[i].append($(this));
	            });
	        });

	        $this.find("tr").remove();
	        $.each(newrows, function(){
	            $this.append(this);
	        });
	    });
	</script>
	<script language="javascript">
			function add(type){
				var foo = document.getElementById(type);

				var element = document.createElement("input");
				
				element.setAttribute("type", "text");
				element.setAttribute("placeholder", "Enter Neighbouring Property");
				
				if (type == "fooBar_e"){
					element.setAttribute("name", "neighbours_e[]");
					element.setAttribute("style", "width: 100%");
				} else {
					element.setAttribute("name", "neighbours[]");
					element.setAttribute("style", "width: 30%; margin-right: 4px");
				}
				element.setAttribute("class", "form-control");

				foo.appendChild(element);
				count = 0;
				while (count < 3){

					var elementl = document.createElement("input");

					elementl.setAttribute("type", "text");
					if (type == "fooBar_e"){
						elementl.setAttribute("name", "letters_e[]");
						elementl.setAttribute("style", "width: 20%; float: left");
					} else {
						elementl.setAttribute("name", "letters[]");
						elementl.setAttribute("style", "width: 14%; margin-right: 4px");
					}
					elementl.setAttribute("class", "form-control datepicker");
					elementl.setAttribute("value", "none");

					foo.appendChild(elementl);


					var sel = document.createElement("select");

					if (type == "fooBar_e"){
						sel.setAttribute("name", "letters_e[]");
						sel.setAttribute("style", "float: left");
					} else {
						sel.setAttribute("name", "letters[]");
						sel.setAttribute("style", "margin-right: 4px")
					}

					
					var option0 = document.createElement("option");
					var option1 = document.createElement("option");
					var option2 = document.createElement("option");
					var option3 = document.createElement("option");
					var option4 = document.createElement("option");
					var option5 = document.createElement("option");
					option0.text = ""
					option1.text = "RM"
					option2.text = "AP"
					option3.text = "HD"
					option4.text = "STR"
					option5.text = "EMA"
					sel.add(option0)
					sel.add(option1)
					sel.add(option2)
					sel.add(option3)
					sel.add(option4)
					sel.add(option5)

					foo.appendChild(sel);

					count = count + 1;
		   			
		   			$(".datepicker").each(function() {
		        		$(this).datepicker({constrainInput: false});
	    			});
				}
			}

			function addC(type){
				var foo = document.getElementById(type);

				var element = document.createElement("input");
				
				element.setAttribute("type", "text");
				element.setAttribute("placeholder", "Enter Council Asset");
				
				if (type == "fooBar_ce"){
					element.setAttribute("name", "councilassets_e[]");
					element.setAttribute("style", "width: 100%");
				} else {
					element.setAttribute("name", "councilassets[]");
					element.setAttribute("style", "width: 90%");
				}
				element.setAttribute("class", "form-control");
				foo.appendChild(element);
			}

			function fillup(id){
				var details = document.getElementById(id);

				var jobNum = details.getAttribute('data-job');
				var client = details.getAttribute('data-client');
				var address = details.getAttribute('data-address');
				var notes = details.getAttribute('data-notes');
				var councilassets = details.getAttribute('data-councilassets');
				var neighbours = details.getAttribute('data-neighbours');
				var letters = details.getAttribute('data-letters');

				document.getElementsByName("old_jobnumber_e")[0].setAttribute("value", jobNum);
				document.getElementsByName("jobnumber_e")[0].setAttribute("value", jobNum);
				document.getElementsByName("client_e")[0].setAttribute("value", client);
				document.getElementsByName("address_e")[0].setAttribute("value", address);
				document.getElementsByName("notes_e")[0].setAttribute("value", notes);

				//////////////////				
				var councilassets_a = councilassets.split('|');
				var tmpc = document.getElementsByName("councilassets_e[]").length;
				while (tmpc < councilassets_a.length){
					addC('fooBar_ce');
					tmpc = tmpc + 1;
				}
				var t = 0;
				while (t < councilassets_a.length){
					document.getElementsByName("councilassets_e[]")[t].setAttribute("value", councilassets_a[t]);
					t = t + 1;
				}
				/////////////////

				////////////////
				var letters_a1 = letters.split('|');
				var neighbours_a = neighbours.split('|');
				
				var tmp = document.getElementsByName("neighbours_e[]").length;
				while (tmp < neighbours_a.length){
					add('fooBar_e');
					tmp = tmp + 1;
				}
				var i = 0;
				var l = 0;
				while (i < neighbours_a.length){
					var letters_a = letters_a1[i].split(" ");
					document.getElementsByName("neighbours_e[]")[i].setAttribute("value", neighbours_a[i]);
					
					document.getElementsByName("letters_e[]")[l].setAttribute("value", letters_a[0]);
					document.getElementsByName("letters_e[]")[l+1].value = letters_a[1];
					document.getElementsByName("letters_e[]")[l+2].setAttribute("value", letters_a[2]);
					document.getElementsByName("letters_e[]")[l+3].value = letters_a[3];
					document.getElementsByName("letters_e[]")[l+4].setAttribute("value", letters_a[4]);
					document.getElementsByName("letters_e[]")[l+5].value = letters_a[5];
					i = i + 1;
					l = l + 6;
				}
				///////////////
			}
		</script>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js'></script>
		<script src="{% static 'dilapjobs/js/bootstrap.js' %}"></script>
		<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
		<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
		<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
		<script>
			$(document).ready(function(){
	   			$(".datepicker").each(function() {
	        		$(this).datepicker({constrainInput: false});
    			});
			});
		</script>
</html>